<h1>Bunkers Index</h1>

<ul><% @bunkers.each do |bunker| %>
  <li><%= bunker.title %></li>
  <li><%= bunker.capacity %></li>
  <li><%= bunker.description %></li>
  <li><%= bunker.feature %></li>
  <li><%= bunker.summary %></li>
  <li><%= bunker.location %></li>
  <li><%= bunker.price %></li>
<% end %>
</ul>

