<%= link_to bunkers_path(location: @bunker.location) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<%# Bunker card details %>
<div class="container">
  <div class="bunker_info">
    <div>
      <h1 class="bunker_title"> <%= @bunker.title %></h1>
      <h2 class="host_title"> Bunker hosted by <%= @bunker.user.username %></h2>
      <p><%= @bunker.location %></p>
      <p><%= @bunker.summary %></p>
      <%= cl_image_tag @bunker.photo.key, height: 300, width: 400, crop: :fill %>
      <%# <p> Price: <%= @bunker.price >€</p> %>
    </div>
    <%# Booking form with calendar to be added %>
    <div class="form-group">
      <%= simple_form_for [@bunker, @booking] do |f| %>
        <%= f.input :check_in_date, required: false, input_html: {class: "datepicker", value: Time.now.strftime('%d-%m-%Y')} %>
        <%= f.input :check_out_date, required: false, input_html: {class: "datepicker", value: Time.now.strftime('%d-%m-%Y')} %>
        <%= f.input :guests %>

        <p>Total: <strong><%= @bunker.price %>€/day</strong></p>

        <%= f.submit "Request to book"%>

      <% end %>
    </div>
  </div>


  <div class="info">
    <div class="bunker_description">
      <h2>The bunker:</h2>
      <p><%= @bunker.description %></p>
    </div>
    <div class="bunker_feature">
      <h2>Special features:</h2>
      <p><%= @bunker.feature %></p>
    </div>
  </div>

  <div class="second_container">
    <div class="review_map_card">
      <h2>Reviews</h2>
      <%# Submit new reviews %>
      <div class="submit-review">
        <%= simple_form_for [@bunker, @review] do |f| %>
        <div class="review">
          <div>
            <%= f.input :comment, placeholder:"Please enter your comment here" %>
          </div>
          <div class="rating">
            <%= f.label :rating %>
            <%= f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %>
          </div>
        </div>
          <%= f.submit "Submit your review", class: "btn btn-primary" %>
        <% end %>
      </div>

      <%# Display reviews %>
      <% @bunker.reviews.each do |review| %>
        <div class="display">
          <div class="display_user">
            <%= review.user.email %>
            <p>Post on: <%= review.created_at.strftime("%Y-%m-%d") %></p>
          </div>
          <div class="display_rating">
            <%= review.comment %>
            <p>Rating:<%= review.rating %>⭐</p>
            <p><%= link_to "Delete review", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger" %></p>
          </div>
        </div>
      <% end %>
    </div>

    <%# Map %>
    <div class="map" style="width: 50%; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
