<%= link_to root_path do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<%# My profile info %>
<div>
  <p>email:<%= @user.email %></p>
  <p>username:<%= @user.username %></p>
  <%= @user.avatar_url %>
  <%= @user.bio %>
</div>

<%# My bunkers as a host %>
<div>
  <h2>My Bunkers</h2>
  <p><%= link_to "Create new bunker", new_bunker_path %></p>

  <% @bunkers.each do |bunker| %>
    <div class="card">
      <% if bunker.user_id == @user.id %>
        <%= link_to bunker_path(bunker) do %>
          <% if bunker.photo.present? %>
            <%= cl_image_tag bunker.photo.key, height: 100, width: 100, crop: :fill %>
          <% end %>
          <%#= bunker.title %>
          <p><%= link_to "Delete bunker", bunker_path(bunker), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger" %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


<%# Bookings %>
<div>
  <h2>Bookings</h2>
  <% if @bookings.nil? %>
    <p>You have no bookings!</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="card mb-3">
        <%= link_to bunker_path(booking.bunker.id) do %>
          <% if booking.bunker.photo.present? %>
            <%= cl_image_tag booking.bunker.photo.key, height: 100, width: 100, crop: :fill %>
          <% end %>
          <%= booking.bunker.title %>
        <% end %>
      <p>Check-in date:<%= booking.check_in_date %></p>
      <p>Check-out date:<%= booking.check_out_date %></p>
      <p>Guests:<%= booking.guests %></p>
      <p>Booking status:<%= booking.status %></p>
      <p><%= link_to "Delete booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger" %></p>
      </div>
    <% end %>
  <% end %>
</div>
